Checks: >-
    bugprone-*,
    clang-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    hicpp-*,
    llvm-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -llvm-header-guard,

WarningsAsErrors: '*'
